
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.loginbg{
    background-image: url('./assets/loginbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
   
  }
  .login{
    box-sizing: border-box;
  border-radius: 27px;
  background: linear-gradient(134.42deg, rgba(201, 201, 201, 0.8) 1.927%,rgba(196, 196, 196, 0.1) 100%);
  opacity: 0.9;
  }
  .regbg {
    background-image: url('./assets/elevated-view-laptop-earphones-crumpled-papers-pencil-blank-spiral-notepad-frame-black-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
   
  }

  .updatepage{
    background-image: url('./assets/bg3.jpg');
    background-size: cover;
    width: 100%;
  }

  .addBg{


    background-image: url('./assets/90876-OIUA8D-948.jpg');
    background-size: cover;
    width: 100%;
  
    
  }
  .updateBg{
    background-image: url('./assets/bg3.jpg');
    background-size: cover;
    width: 100%;
  }
  .add-form-bg{
    box-sizing: border-box;
  /* border: 1px solid rgb(239, 239, 239); */
  border-radius: 25px;
  /* backdrop-filter: blur(60px); */
  background: linear-gradient(135.00deg, rgba(239, 239, 239, 0.6) 0%,rgba(255, 255, 255, 0.1) 100%);
  }
  
  .input-add{
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  }